h1 {
    background-color: yellow;
    font-family: arial;
    color:black;
    padding: 15px;
}

div {
    font-family: arial;
}

p {
    padding: 10px;
    font-family: arial;
}

table {
    width: 100%;
    background-color: yellow;
    text-align: center;
}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size:larger;
}

td {
    padding: 8px;
}

td:hover {
    background-color: red;
}

td:active {
    background-color: green;
}

footer {
    background-color: gray;
}